default:
    suites:
        default:
            contexts:
                - FeatureContext:
                    fixtures: '@App\DataFixtures\AppFixtureSilent'
                    em: '@doctrine.orm.default_entity_manager'
                - Behat\MinkExtension\Context\Minkcontext
                - behatch:context:json

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
        Behatch\Extension: ~
        Behat\MinkExtension:
            base_url: http://localhost
            files_path: 'features/fixtures'
            sessions:
                default:
                    symfony2: ~