default:
    suites:
        default:
            contexts:
                - FeatureContext:
                    fixtures: '@App\DataFixtures\AppFixtures'
                    em: '@doctrine.orm.default_entity_manager'
                - Behat\MinkExtension\Context\Minkcontext
                - behatch:context:json

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
        Behatch\Extension: ~
        Behat\MinkExtension:
            base_url: '%env(resolve:BASE_PROJECT_URL)%' # using docker
#            base_url: 'http://127.0.0.1:8000' # not using docker
            sessions:
                default:
                    symfony2: ~