<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta HTTP-EQUIV="Content-Type" content="text/html, width=device-width, initial-scale=1.0" charset="UTF-8"
          name="viewport">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
