<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta HTTP-EQUIV="Content-Type" content="text/html, width=device-width, initial-scale=1.0" charset="UTF-8"
          name="viewport">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark navbar-bg {{ app.session.flashbag.peek('success')|length > 0 ? '' : 'mb-5' }}"></nav>
{% endblock navbar %}
{% block body %}{% endblock body %}
{% block javascripts %}{% endblock javascripts %}
</body>
</html>
